// Custom styles.
.content {
	border-radius: 20px; //Œƒ’¬±≥æ∞…Ë÷√‘≤Ω«
	padding: 30px 60px 30px 60px;
	background:rgba(255, 255, 255, 0.5) none repeat scroll !important;
}

 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, 0.5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, 0.5);
  }
